*.iml
.gradle
**/local.properties
/.idea
**/.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
*.kotlin_module
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
kotlin-js-store/
